* {
  margin: 0;
  box-sizing: border-box;
}
.block {
  height: 100vh;
  display: grid;
  grid-template-columns: 300px 1fr;
}
.block__left {
  background-color: rgb(68, 68, 68);
  color: azure;
  padding: 60px 30px;
  display: grid;
  grid-template-rows:auto 1fr;
}

.title {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 10px;
}

.content {
    display: grid;
    align-content: end;
    padding: 30px;
    border-left: 3px outset rgb(159, 154, 154);
    margin-top: 60px;
}
.label {
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 18px;
    border-bottom: 1px solid wheat;

}
.description {
    font-size: 14px;
    letter-spacing: normal;
    line-height: 1em;
    opacity: 0.7;
}

.block__right {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, auto));
    padding: 60px;
    grid-gap:60px 190px;
    align-items: center;
}
.card {
    display: grid;
    justify-items: center;
}
.card__img {
    width: 90px;
    height: 100px;
    background: #333;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    
}

.card__img svg{
     display: inline-block;
    margin: 10px;
    padding-top: 10px;
    
}

.card__img path {

   stroke: aqua;
  stroke-width: 7;
    transition: 0.8;    
  
}
.card__img path:hover {
    stroke: rgb(248, 4, 4);
  }
     

.card__title {
    margin: 15px 0;
    text-transform: uppercase;
    letter-spacing: 3px;
    color:rgb(21, 71, 107);
    font-size: 28px;
}
.card__desc {
line-height: 1.4em;
letter-spacing: 2px;

}